{% extends "base.html" %} {% block titulo %}Terminal transportista {% endblock %}

{% block contenido_principal %}
<div class="container">
    <h2 style="height: 50px">Actualizar estado del envío <strong>{{envio.code}}</strong></h2>
    <p><strong>Marcar el envío como:</strong> </p>
    <div class="row">
        <div style="height: 50px" id="custom-search-input ">
            <form method="get" action="/cambiarEstado/{{envio.code}}">
                <div
                        class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-left">
                    <select class="form-control" name="estado" required="true">
                        {% if estados[estados.length-1].size < 2 %}
                        <option value=recogidoDomicilio>Recogido en domicilio</option>
                        {% endif %}
                        {% if estados[estados.length-1].size < 3 %}
                        <option value=depositadoOficinaSalida>Depositado en la oficina de salida</option>
                        {% endif %}
                        {% if estados[estados.length-1].size < 4 %}
                        <option value=recogidoOficinaSalida>Recogido de la oficina de salida</option>
                        {% endif %}
                        {% if envio.type == "estandar" %}
                        {% if estados[estados.length-1].size < 5 %}
                        <option value=entregadoOficinaCentral>Depositado en la oficina central</option>
                        {% endif %}
                        {% if estados[estados.length-1].size < 6 %}
                        <option value=recogidoOficinaCentral>Recogido de la oficina central</option>
                        {% endif %}
                        {% endif %}
                        {% if estados[estados.length-1].size < 7 %}
                        <option value=entregadoOficinaDestino>Depositado en la oficina destino ({{envio.province}})</option>
                        {% endif %}
                        {% if !envio.sendToOffice %}
                        {% if estados[estados.length-1].size < 8 %}
                        <option value=recogidoOficinaDestino>Recogido de la oficina destino ({{envio.province}})</option>
                        {% endif %}
                        {% if estados[estados.length-1].size < 10 %}
                        <option value=intentoEntrega>Intento de entrega</option>
                        {% endif %}
                        {% if estados[estados.length-1].size < 12 %}
                        <option value=entregado>Entregado al destinatario</option>
                        <option value=entregaFallida>Entrega fallida, depositado en oficina destino ({{envio.province}})</option>
                        {% endif %}
                        {% endif %}
                    </select>
                    <span class="input-group-btn">
						<button id="lupiña" class="btn" type="submit">
							<span class="btn btn-primary">Actualizar</span>
						</button>
					</span>
                </div>
            </form>
        </div>
    </div>

    <h3>Estado del envío</h3>
    <div class="table-responsive">
        <table class="table table-hover"
               id="tableOffers">
            <thead>
            <tr>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for estado in estados %}
            <tr name=estado>
                <td>{{estado.name}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}