{% extends "base.html" %}
{% block titulo %} Registrar envio {% endblock %}
{% block contenido_principal %}
<h2>Registrar Envío</h2>
<form class="form-horizontal" method="post" action="/envio" encType="multipart/form-data">

    <div class="form-group">
        <label class="control-label col-sm-2" for="Rnombre">Su Nombre:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Rnombre"
                   placeholder="Escriba aquí su nomnre" required="true"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="Rapellidos">Sus Apellidos:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Rapellidos"
                   placeholder="Escriba aquí sus apellidos" required="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="dni">Su DNI:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="dni"
                   placeholder="Escriba aquí su DNI" required="true"/>
        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2" for="nombre">Nombre:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="nombre"
                   placeholder="Nombre del destinatario" required="true"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="apellidos"
                   placeholder="Apellidos del destinatario" required="true"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="direccion">Direccion:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="direccion"
                   placeholder="Direccion del destinatario (Dejar en blanco si quiere que el envio se entregue en una oficina)"/>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="provincia">Provincia destino:</label>
        <div class="col-sm-10">
            <select class="form-control" name="provincia" required="true">
                <option value="lugo">Asturias</option>
                <option value="barcelona">Barcelona</option>
                <option value="lugo">Lugo</option>
                <option value="madrid">Madrid</option>
                <option value="mallorca">Mallorca</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="recogida">Recogida:</label>
        <div class="col-sm-10">
            <select class="form-control" name="recogida" required="true">
                <option value="oficina">En oficina</option>
                <option value="domicilio">A domicilio</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="tipo">Tipo de envío:</label>
        <div class="col-sm-10">
            <select class="form-control" name="tipo" required="true">
                <option value="estandar">Estándar (4 días) 5€</option>
                <option value="urgente">Urgente (2 días) 10€</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Registrar envío</button>
        </div>
    </div>
</form>
{% endblock %}
