﻿<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="/img/mw.png">
<head>
    <title>{% block titulo %} MyWallapop {% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block scripts %} {% endblock %}
</head>
<body>


<!-- Barra de Navegación superior -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-text" src="/img/mw.png" height="46" width="66" alt="logo"/>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="navbar-brand" id="mEnvio"><a href="/envios/agregar">Registrar envío</a></li>
                <li class="navbar-brand" id="mSeguimiento"><a href="/seguimiento">Seguimiento de envío</a></li>
                <li class="navbar-brand" id="mEditar"><a href="/editar">Editar un envío</a></li>
                <li class="navbar-brand" id="mTransportista"><a href="/transportista">Transportista</a></li>
                {% if role != 'admin' && user%}
                <li class="navbar-brand" id="mPerfil"><a href="/perfil">Mis Envios</a></li>
                <li class="navbar-brand" id="mNuevaOferta"><a href="/envios/agregar">Registrar Envío</a></li>
                {%endif%}
                {% if role == 'admin'%}
                <li class="navbar-brand" id="mUsers" ><a href="/usuarios">Usuarios</a></li>
                {%endif%}
            </ul>
            <ul id="logNav" class="nav navbar-nav navbar-right">
                <!--  {% if user%}
                 <li class="navbar-brand"  id="userInfo" class="active"><a >Identificado como {{user}}</a></li>
                 <li class="navbar-brand" ><a id="logout" href="/desconectarse"><span class="glyphicon glyphicon-log-out"></span> Desconectar</a></li>
                 {%endif%}
                 {% if user == null%}
                 <li class="navbar-brand" ><a id="register" href="/registrarse"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
                 <li class="navbar-brand" ><a id="login" href="/identificarse"><span class="glyphicon glyphicon-log-in"></span> Identifícate</a></li>
                 {%endif%}-->
             </ul>
         </div>
     </div>
 </nav>


 <div class="container">

     <script>
         let mensaje = getUrlParameter('mensaje');
         let tipoMensaje = getUrlParameter('tipoMensaje');
         if (mensaje != "") {
             if (tipoMensaje == "") {
                 tipoMensaje = 'alert-info';
             }
             $(".container")
                 .append("<div class='alert " + tipoMensaje + "'>" + mensaje + " </div>");
         }

         function getUrlParameter(name) {
             name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
             let regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
             let results = regex.exec(location.search);
             return results === null ? '' :
                 decodeURIComponent(results[1].replace(/\+/g, ' '));
         }
     </script>
     <!-- Contenido -->
    {% block contenido_principal %}

    <!-- Posible contenido por defecto -->
    {% endblock %}

</div>


</body>
</html>
