{% extends "base.html" %}
{% block titulo %} Seguimiento{% endblock %}
{% block contenido_principal %}
<h2>Envío registrado correctamente</h2>
<h3>El código de seguimiento de su envío es: <strong>{{code}}</strong></h3>
{% endblock %}
