{% extends "base.html" %}
{% block titulo %} Editar Envío{% endblock %}
{% block contenido_principal %}
<h2>Editar un envío</h2>

<h3>Inserte aquí el código del envío</h3>
<div class="row">
    <div style="height: 50px" id="custom-search-input ">
        <form method="get" action="/editar">
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-left">
                <input id="searchBox" type="text" class="search-query form-control"
                       placeholder="Inserte aquí el código de su envío" name="busqueda"/>
                <span class="input-group-btn">
						<button id="lupiña" class="btn" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
            </div>
        </form>
    </div>
</div>

{% if search %}
<h3>Inserte los nuevos parámetros para el envío</h3>
<form class="form-horizontal" method="post" action="/editar/{{envio.code}}" encType="multipart/form-data">

    {% if province %}
    <p>Actual: {{envio.province}}</p>
    <div class="form-group">
        <label class="control-label col-sm-2" for="provincia">Provincia destino:</label>
        <div class="col-sm-10">
            <select class="form-control" name="provincia" required="false">
                <option value="lugo">Asturias</option>
                <option value="barcelona">Barcelona</option>
                <option value="lugo">Lugo</option>
                <option value="madrid">Madrid</option>
                <option value="mallorca">Mallorca</option>
            </select>
        </div>
    </div>
    {% else %}
    <h4>La dirección nueva está restringida a la provincia de destino actual</h4>
    {% endif %}
    {% if envio.sendToOffice %}
    <p>Actual: Oficina de {{envio.province}}</p>
    {% else %}
    <p>Actual: {{envio.direction}}</p>
    {% endif %}
    <div class="form-group">
        <label class="control-label col-sm-2" for="direccion">Direccion:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="direccion"
                   placeholder="Direccion del destinatario (Dejar en blanco si quiere que el envio se entregue en una oficina)"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Actualizar envío</button>
        </div>
    </div>
</form>
{% endif %}

</div>
{% endblock %}