{% extends "base.html" %} {% block titulo %}Terminal transportista {% endblock %}

{% block contenido_principal %}
<div class="container">
    <h2 style="height: 50px">Ruta del envío <strong>{{envio.code}}</strong> de tipo {{envio.type}}</h2>

    <div class="table-responsive">
        <table class="table table-hover"
               id="tableOffers">
            <thead>
            <tr>
                <th>Pasos a seguir</th>
            </tr>
            </thead>
            <tbody>
            {% if envio.pickup == "oficina" %}
            <tr name=ruta>
                <td>Recoger en oficina local</td>
            </tr>
            {% else %}
            <tr name=ruta>
                <td>Recoger en domicilio</td>
            </tr>
            <tr name=ruta>
                <td>Dejar en oficina local</td>
            </tr>
            <tr name=ruta>
                <td>Recoger en oficina local</td>
            </tr>
            {% endif %}
            {% if envio.type == "estandar" %}
            <tr name=ruta>
                <td>Entregar en oficina central</td>
            </tr>
            <tr name=ruta>
                <td>Recoger de oficina central</td>
            </tr>
            {% endif %}
            <tr name=ruta>
                <td>Entregar en oficina destino ({{envio.province}})</td>
            </tr>
            {% if !envio.sendToOffice %}
            <tr name=ruta>
                <td>Recoger en oficina destino ({{envio.province}})</td>
            </tr>
            <tr name=ruta>
                <td>Entregar domicilio destino ({{envio.direction}})</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

</div>


{% endblock %}