{% extends "base.html" %}
{% block titulo %} Seguimiento{% endblock %}
{% block contenido_principal %}
<h2>Seguimiento de su envío</h2>

<div class="row">
    <div style="height: 50px" id="custom-search-input ">
        <form method="get" action="/seguimiento">
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-left">
                <input id="searchBox" type="text" class="search-query form-control"
                       placeholder="Inserte aquí el código de su envío" name="busqueda"/>
                <span class="input-group-btn">
						<button id="lupiña" class="btn" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
            </div>
        </form>
    </div>
</div>

{% if search %}
<h3>Estado del envío <strong>{{envio.code}}</strong> con destino a {{envio.province}}</h3>
<div class="table-responsive">
    <table class="table table-hover"
           id="tableOffers">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for estado in estados %}
        <tr name=estado>
            <td>{{estado.name}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

</div>
{% endblock %}
