{% extends "base.html" %} {% block titulo %}Terminal transportista {% endblock %}

{% block contenido_principal %}
<div class="container">
    <h2 style="height: 50px">Lista de envios asignados</h2>
    <p>Seleccionar transportista para buscar sus envios</p>
    <div class="row">
        <div style="height: 50px" id="custom-search-input ">
            <form method="get" action="/transportista">
                <div
                        class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-left">
                    <select class="form-control" name="transportista" required="true">
                        {% for trans in transportistas %}
                        <option value={{trans._id.toString()}}>{{trans.name}}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
						<button id="lupiña" class="btn" type="submit">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
                </div>
            </form>
        </div>
    </div>
    {% if search %}
    <div class="table-responsive">
        <table class="table table-hover"
               id="tableOffers">
            <thead>
            <tr>
                <th class="col-md-2">Remitente</th>
                <th>Destinatario</th>
                <th>Código</th>
                <th>Destino</th>
            </tr>
            </thead>
            <tbody>
            {% for envio in envios %}
            <tr name={{envio.code}}>
                <td>{{envio.Rname}} {{envio.Rsurname}}</td>
                <td>{{envio.name}} {{envio.surname}}</td>
                <td>{{envio.code}}</td>
                {% if envio.sendToOffice %}
                <td>Oficina de {{envio.province}}</td>
                {% else %}
                <td>{{envio.direction}} {{envio.province}}</td>
                {% endif %}
                <td><a name="route" href="/envio/ruta/{{envio.code}}">Ver ruta</a></td>
                <td><a name="update" href="/envio/actualizar/{{envio.code}}">Actualizar estado</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>


{% endblock %}
