<div id="widget-ofertas">
    <input type="text" class="form-control" placeholder="Filtrar por nombre"
           id="filtro-nombre"/>
    <button class="btn" onclick="cargarOfertas()">Actualizar</button>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>>Titulo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody id="tablaCuerpo">

        </tbody>
    </table>

    <h2>Chats de tus ofertas</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Interesado</th>
            <th >Oferta</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody id="tablaPropias">

        </tbody>
    </table>
</div>

<script>
    var ofertas;
    var idOfertaSeleccionada;
    var target;
    var selectedOfferTitle;
    window.history.pushState("", "", "/cliente.html?w=ofertas");
    $('#filtro-nombre').on('input', function (e) {
        const ofertasFiltradas = [];
        const nombreFiltro = $("#filtro-nombre").val();

        for (let i = 0; i < ofertas.length; i++) {
            if (ofertas[i].title.indexOf(nombreFiltro) != -1) {
                ofertasFiltradas.push(ofertas[i]);
            }
        }
        actualizarTabla(ofertasFiltradas);
    });


    function cargarOfertas() {
        $.ajax({
            url: URLbase + "/ofertas",
            type: "GET",
            data: {},
            dataType: 'json',
            headers: {"token": token},
            success: function (respuesta) {
                ofertas = respuesta;
                //console.log(ofertas);
                actualizarTabla(ofertas);
            },
            error: function (error) {
                console.log("Error: " + error);
            }
        });
    }

    function chat(_id, user) {
        idOfertaSeleccionada = _id;
        target = user;
        $("#contenedor-principal").load("widget-chat.html");
    }

    function cargarChats() {
        $.ajax({
            url: URLbase + "/chats",
            type: "GET",
            data: {},
            dataType: 'json',
            headers: {"token": token},
            success: function (chats) {
                chatsPropios(chats);
                //console.log("adsd: "+chats);
            },
            error: function (error) {
                //Cookies.remove('token');
                console.log("Error 4: " + error);
            }
        });
    }

    function chatsPropios(chatsMostrar) {
        $("#tablaPropias").empty(); // Vaciar la tabla
        for (let i = 0; i < chatsMostrar.length; i++) {
            //selectedOfferTitle = chatsMostrar[i].title;
            $("#tablaPropias").append(
                "<tr id=" + chatsMostrar[i]._id + ">" +
                "<td>" + chatsMostrar[i].buyer + "</td>" +
                "<td>" + chatsMostrar[i].offer + "</td>" +
                "<td>" +
                "<a name='chatBuyer' onclick=chat('" + chatsMostrar[i].offer + "','" + chatsMostrar[i].buyer + "')>Chatear</a><br>" +
                "</td>" +
                "</tr>");
            // Mucho cuidado con las comillas del eliminarEnvio
            //la id tiene que ir entre comillas ' '
        }
    }

    function actualizarTabla(ofertasMostrar) {
        $("#tablaCuerpo").empty(); // Vaciar la tabla
        for (let i = 0; i < ofertasMostrar.length; i++) {
            selectedOfferTitle = ofertasMostrar[i].title;
            $("#tablaCuerpo").append(
                "<tr id=" + ofertasMostrar[i]._id + ">" +
                "<td>" + ofertasMostrar[i].title + "</td>" +
                "<td>" + ofertasMostrar[i].description + "</td>" +
                "<td>" + ofertasMostrar[i].price + "</td>" +
                "<td>" +
                "<a name='chatSeller' onclick=chat('" + ofertasMostrar[i]._id + "','" + ofertasMostrar[i].autor + "')>Chatear</a><br>" +
                "</td>" +
                "</tr>");
            // Mucho cuidado con las comillas del eliminarEnvio
            //la id tiene que ir entre comillas ' '
        }
    }

    cargarOfertas();
    cargarChats();
</script>
